<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue for you">
  <link rel="icon" href="../public/images/icon/cooking-stew-svgrepo-com.svg">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <meta name="theme-color" content="#61481C" />

</head>

<body>
  <a href="#mainContent" class="skip-to-content">Skip To content</a>
  <header>
    <header class="header-bar">
      <div class="header-bar__menu">
        <button id="drawerButton" aria-label="menu">☰</button>
      </div>
      <div class="header-bar__brand">
        <img src="/images/icon/cooking-stew-svgrepo-com.svg" width="40px" alt="Logo Restaurant">
        <h1>Restaurant Apps</h1>
      </div>
      <nav id="drawerMenu" class="header-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/save">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/taqi-gusdi-5113b9247/" target="_blank" rel="noopener">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="jumbotron" alt=''></div>
    <div class="inner-jumbotron">
      <h2 class="title-jumbotron">Looking for breakfast? lunch? or dinner?</h2>
      <p class="tagline-jumbotron">Look for some restaurant below!</p>
    </div>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>copyright @ 2022 - Restaurant Apps</p>
    </footer>
</body>

</html>